.row {
  max-width: $global-width;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
   -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.col {
  -webkit-box-flex:1;
  flex: 1 1 0px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-width: initial;
  width: 100%;
  @include breakpoint($sm-only) {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.centered {
  -webkit-box-pack: center !important;
  justify-content: center !important;
}

/*==============GRID*=================*/
.row{
  max-width:1140px;
  margin-right:auto;
  margin-left:auto;
  display:-webkit-box;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  flex-flow:row wrap
}
.row .row {
  margin-right: -15px;
  margin-left: -15px;
  @media (min-width:0) and (max-width:39.99875em){
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (min-width:0) and (max-width:39.99875em){
  .col{
    padding-right:10px;
    padding-left:10px
  }
}
.sm-1{
  max-width:8.33333%;
  width:8.33333%;
  flex:0 0 8.33333%
}
.sm-1,.sm-2{-webkit-box-flex:0}
.sm-2{
  max-width:16.66667%;
  width:16.66667%;
  flex:0 0 16.66667%
}
.sm-3{
  max-width:25%;
  width:25%;
  flex:0 0 25%
}
.sm-3,.sm-4{-webkit-box-flex:0}
.sm-4{
  max-width:33.33333%;
  width:33.33333%;
  flex:0 0 33.33333%
}
.sm-5{
  max-width:41.66667%;
  width:41.66667%;
  flex:0 0 41.66667%
}
.sm-5,.sm-6{-webkit-box-flex:0}
.sm-6 {
  max-width:50%;
  width:50%;
  flex:0 0 50%
}
.sm-7{
  max-width:58.33333%;
  width:58.33333%;
  flex:0 0 58.33333%
}
.sm-7,.sm-8{-webkit-box-flex:0}
.sm-8{
  max-width:66.66667%;
  width:66.66667%;
  flex:0 0 66.66667%
}
.sm-9{
  max-width:75%;
  width:75%;
  flex:0 0 75%
}
.sm-9,.sm-10{-webkit-box-flex:0}
.sm-10{
  max-width:83.33333%;
  width:83.33333%;
  flex:0 0 83.33333%
}
.sm-11{
  max-width:91.66667%;
  width:91.66667%;
  flex:0 0 91.66667%
}
.sm-11,.sm-12{-webkit-box-flex:0}
.sm-12{
  max-width:100%;
  width:100%;
  flex:0 0 100%
}
@media print,screen and (min-width:40em){
  .md-1{
    max-width:8.33333%;
    width:8.33333%;
    flex:0 0 8.33333%
  }
  .md-1,.md-2{-webkit-box-flex:0}
  .md-2{
    max-width:16.66667%;
    width:16.66667%;
    flex:0 0 16.66667%
  }
  .md-3{
    max-width:25%;
    width:25%;
    flex:0 0 25%
  }
  .md-3,.md-4{-webkit-box-flex:0}
  .md-4{
    max-width:33.33333%;
    width:33.33333%;
    flex:0 0 33.33333%
  }
  .md-5{
    max-width:41.66667%;
    width:41.66667%;
    flex:0 0 41.66667%
  }
  .md-5,.md-6{-webkit-box-flex:0}
  .md-6{
    max-width:50%;
    width:50%;
    flex:0 0 50%
  }
  .md-7{
    max-width:58.33333%;
    width:58.33333%;
    flex:0 0 58.33333%
  }
  .md-7,.md-8{-webkit-box-flex:0}
  .md-8{
    max-width:66.66667%;
    width:66.66667%;
    flex:0 0 66.66667%
  }
  .md-9{
    max-width:75%;
    width:75%;
    flex:0 0 75%
  }
  .md-9,.md-10{-webkit-box-flex:0}
  .md-10{
    max-width:83.33333%;
    width:83.33333%;
    flex:0 0 83.33333%
  }
  .md-11{
    max-width:91.66667%;
    width:91.66667%;
    flex:0 0 91.66667%
  }
  .md-11,.md-12{-webkit-box-flex:0}
  .md-12{
    max-width:100%;
    width:100%;
    flex:0 0 100%
  }
}

@media print,screen and (min-width:64em){
  .lg-1{
    max-width:8.33333%;
    width:8.33333%;
    flex:0 0 8.33333%
  }
  .lg-1,.lg-2{-webkit-box-flex:0}
  .lg-2{
    max-width:16.66667%;
    width:16.66667%;
    flex:0 0 16.66667%
  }
  .lg-3{
    max-width:25%;
    width:25%;
    flex:0 0 25%
  }
  .lg-3,.lg-4{-webkit-box-flex:0}
  .lg-4{
    max-width:33.33333%;
    width:33.33333%;
    flex:0 0 33.33333%
  }
  .lg-5{
    max-width:41.66667%;
    width:41.66667%;
    flex:0 0 41.66667%
  }
  .lg-5,.lg-6{-webkit-box-flex:0}
  .lg-6{
    max-width:50%;
    width:50%;
    flex:0 0 50%
  }
  .lg-7{
    max-width:58.33333%;
    width:58.33333%;
    flex:0 0 58.33333%
  }
  .lg-7,.lg-8{-webkit-box-flex:0}
  .lg-8{
    max-width:66.66667%;
    width:66.66667%;
    flex:0 0 66.66667%
  }
  .lg-9{
    max-width:75%;
    width:75%;
    flex:0 0 75%
  }
  .lg-9,.lg-10{-webkit-box-flex:0}
  .lg-10{
    max-width:83.33333%;
    width:83.33333%;
    flex:0 0 83.33333%
  }
  .lg-11{
    max-width:91.66667%;
    width:91.66667%;
    flex:0 0 91.66667%
  }
  .lg-11,.lg-12{-webkit-box-flex:0}
  .lg-12{
    max-width:100%;
    width:100%;
    flex:0 0 100%
  }
}
.sm-offset-0{margin-left:0}
.sm-offset-1{margin-left:8.33333%}
.sm-offset-2{margin-left:16.66667%}
.sm-offset-3{margin-left:25%}
.sm-offset-4{margin-left:33.33333%}
.sm-offset-5{margin-left:41.66667%}
.sm-offset-6{margin-left:50%}
.sm-offset-7{margin-left:58.33333%}
.sm-offset-8{margin-left:66.66667%}
.sm-offset-9{margin-left:75%}
.sm-offset-10{margin-left:83.33333%}
.sm-offset-11{margin-left:91.66667%}
@media print,screen and (min-width:40em){
  .md-offset-0{margin-left:0}
  .md-offset-1{margin-left:8.33333%}
  .md-offset-2{margin-left:16.66667%}
  .md-offset-3{margin-left:25%}
  .md-offset-4{margin-left:33.33333%}
  .md-offset-5{margin-left:41.66667%}
  .md-offset-6{margin-left:50%}
  .md-offset-7{margin-left:58.33333%}
  .md-offset-8{margin-left:66.66667%}
  .md-offset-9{margin-left:75%}
  .md-offset-10{margin-left:83.33333%}
  .md-offset-11{  margin-left:91.66667%}
}
@media print,screen and (min-width:64em){
  .lg-offset-0{margin-left:0}
  .lg-offset-1{margin-left:8.33333%}
  .lg-offset-2{margin-left:16.66667%}
  .lg-offset-3{margin-left:25%}
  .lg-offset-4{margin-left:33.33333%}
  .lg-offset-5{margin-left:41.66667%}
  .lg-offset-6{margin-left:50%}
  .lg-offset-7{margin-left:58.33333%}
  .lg-offset-8{margin-left:66.66667%}
  .lg-offset-9{margin-left:75%}
  .lg-offset-10{margin-left:83.33333%}
  .lg-offset-11{margin-left:91.66667%}
}
@media print,screen and (min-width:40em){
  .md-pull-0,.md-push-0{left:0}
  .md-pull-1{left:-8.33333%}
  .md-push-1{left:8.33333%}
  .md-pull-2{left:-16.66667%}
  .md-push-2{left:16.66667%}
  .md-pull-3{left:-25%}
  .md-push-3{left:25%}
  .md-pull-4{left:-33.33333%}
  .md-push-4{left:33.33333%}
  .md-pull-5{left:-41.66667%}
  .md-push-5{left:41.66667%}
  .md-pull-6{left:-50%}
  .md-push-6{left:50%}
  .md-pull-7{left:-58.33333%}
  .md-push-7{left:58.33333%}
  .md-pull-8{left:-66.66667%}
  .md-push-8{left:66.66667%}
  .md-pull-9{left:-75%}
  .md-push-9{left:75%}
  .md-pull-10{left:-83.33333%}
  .md-push-10{left:83.33333%}
  .md-pull-11{left:-91.66667%}
  .md-push-11{left:91.66667%}
}

[class*="-pull-"],[class*="-push-"] {
  position: relative;
}

@media print, screen and (max-width: 39.99875em) {
  .hide-for-small-only {
    display: none !important;
  } 
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em) {
  .show-for-medium {
    display: none !important;
  } 
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .hide-for-medium-only {
    display: none !important;
  } 
}

@media screen and (max-width: 39.99875em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important;
  } 
}

@media print, screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important;
  } 
}

@media screen and (max-width: 63.99875em) {
  .show-for-large {
    display: none !important; 
  } 
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .hide-for-large-only {
    display: none !important; 
  } 
}

@media screen and (max-width: 63.99875em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important; 
  } 
}