@mixin translate-center {
    left: 50%;
    top: 50%;
    position: absolute;
    transform-origin: center;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

@mixin transition($prop, $time, $ease) {
    webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease;
    -o-transition: $prop $time $ease;
    transition: $prop $time $ease;
}

@mixin rotate($deg) {
    -webkit-transform: rotateZ($deg);
        -ms-transform: rotateZ($deg);
         -o-transform: rotateZ($deg);
            transform: rotateZ($deg); 
}