// Body
$body-bg: #f8fafc;
$global-width: 1080px;
// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #184B7E;
$indigo: #6574cd;
$purple: #9561e2;
$black: #3D3F4D; 
$pink: #f66d9b;
$red: #e3342f;
$white: #ffffff;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray: #E5E5E5;
$gray-dark: #5E5E5E;

$primary:       #00686D !default;
$secondary:     #232C64 !default;


$navbar-bg-color: $gray;
$navbar-dark-color: $gray-dark;
$navbar-padding-y: 0;
$navbar-brand-padding-y: 0;

$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

$section-min-height: calc(100vh - 70px);

$sm: 39.99875em;
$sm-only: 0 $sm;
$sm-down: max-width $sm;

$md: 63.99875rem;
$md-only: 40rem $md;
$md-down: max-width $md;
$lg: 1140px;
$lg-only: $md $lg;
$lg-down: max-width $lg;