body {background: $body-bg;color: $black;font-family: $font-family-sans-serif;height: 100%;margin: 0;padding: 0;position: relative;line-height: 1.25;}
*, *:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;outline: none;}
a {
  color:$primary;
  text-decoration: none;
  @include transition(opacity, .5s, ease-in);
  &:not(.btn):hover{opacity: 0.8;}
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5rem 0;
  font-weight: 400;
  line-height: 1.2;
}
hr {
  overflow: hidden;
  display: block;
  clear:both;
  margin: 10px auto;
  border: 0;
  border-top: 1px solid #B1B1B1;
}
p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
div, ul {margin: 0;padding: 0;}
ul.no-bullet{
  list-style: none;
}
.float-left {float: left !important;}
.float-right {float: right !important ;}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.clearfix {clear: both;}
.hide {display: none !important; }
.invisible {visibility: hidden; }
.strong{font-weight: bold;}
.alert.success{
  border: 1px solid #1c9229;
  border-radius: 10px;
  color: #1c9229;
  font-weight: bold;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}
.flex-video {
  position: relative;
  height: 0;
  margin-bottom: 0;
  padding-bottom: 62%;
  overflow: hidden;
  &.widescreen{
    padding-bottom: 50%;
  }
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}
main {
  overflow:hidden;
  min-height: $section-min-height;
}

.wall {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font-12 {
  font-size:12px;
  @include breakpoint($sm-only) {
    font-size:10px;
  }
}
.font-14 {
  font-size:14px;
  @include breakpoint($sm-only) {
    font-size:12px;
  }
}
.font-15 {
  font-size:15px;
  @include breakpoint($sm-only) {
    font-size:12px;
  }
}
.font-16 {
  font-size:16px;
  @include breakpoint($md-only) {
    font-size:14px;
  }
  @include breakpoint($sm-only) {
    font-size:13px;
  }
}
.font-24 {
  font-size:24px;
  @include breakpoint($sm-only) {
    font-size:20px;
  }
}
.font-32 {
  font-size:32px;
  @include breakpoint($md-only) {
    font-size:28px;
  }
  @include breakpoint($sm-only) {
    font-size:24px;
  }
}
.font-40 {
  font-size:40px;
  @include breakpoint($md-only) {
    font-size:32px;
  }
  @include breakpoint($sm-only) {
    font-size:26px;
  }
}
.font-46 {
  font-size:46px;
  @include breakpoint($md-only) {
    font-size:38px;
  }
  @include breakpoint($sm-only) {
    font-size:24px;
  }
}
.font-54 {
  font-size:54px;
  @include breakpoint($md-only) {
    font-size:46px;
  }
  @include breakpoint($sm-only) {
    font-size:40px;
  }
}
[class^="font-"], [class*=" font-"] { 
  line-height: 1.2;
}

.box-aline-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.upper {text-transform: uppercase;}

.alert {
  border-radius: 10px;
  border: 1px solid $primary;
  padding: 30px 15px;
  font-size: 24px; 
  margin: 50px 10px;
  p:last-of-type{
    margin-bottom:0;
  }
  @include breakpoint($sm-only) {
    padding: 10px 5px;
    font-size: 14px; 
  }
}