.wall.main-wall {
  background-image: url(/images/main-wall.jpg);
  height: 350px;
  position: relative;
  h1 {
    @include translate-center;
    color: $white;
    font-weight: bold;
    text-shadow: 2px 2px $primary;
  }
  &:before {
    content: '';
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 10s ease infinite;
    -moz-animation: Gradient 10s ease infinite;
    animation: Gradient 10s ease infinite;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.35;
  }
  @include breakpoint($sm-only) {
    height: 250px;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.converter-wrap {
  background-color: $white;
  box-shadow: 0px 1px 4px 2px rgba(0,0,0,.25);
  border-radius: 10px;
  margin-top: -50px;
  overflow: hidden;
  padding: 15px;
  form {  
    display: block;
    margin: 0 auto 20px;
    overflow:hidden;
    > * {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    label {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: bold;
    }
    input,textarea {
      background-color: $white;
      border: 1px solid #d5d5d5;
      box-sizing: border-box;
      border-radius: 10px;
      box-shadow: none;
      min-height: 42px;
      font-size: 16px;
      padding-left: 20px;
      outline: none;
      width:100%;
      -webkit-transition: color .2s ease-in,border-color .2s ease-in;
              transition: color .2s ease-in,border-color .2s ease-in;
      &:active, &:focus{
        border-color: $primary;
        box-shadow: 0 0 0 1px rgba(24, 75, 126, 0.25);
      }
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #B1B1B1;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #B1B1B1;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: #B1B1B1;
      }
      &:-moz-placeholder { /* Firefox 18- */
        color: #B1B1B1;
      }
      &:disabled {
        color: $primary;
      }
      &.is-invalid {
        border-color: $red;
      }
    }
    textarea {
      padding:15px 20px;
      display:block;
    }
    select:disabled {
      color: $primary;
    }
    select{
      background: transparent;
      border-radius: 10px;
      padding: 10px;
      width: 100%;
    }
    button {
      height: 42px;
      background-color: transparent;
      border-width: 0;
      cursor: pointer;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      &:hover {
        background-size: 400% 400%;
        -webkit-animation: Gradient 10s ease infinite;
        -moz-animation: Gradient 10s ease infinite;
        animation: Gradient 10s ease infinite;
        animation-delay: 0.5s;
      }
    }
  }
}
.invalid-feedback {
  color: $red;
  display: inline-block;
}
.btn-wrap {
  position: relative;
  .bdr-hover {
    width: 0;
    height: 0;
    position: absolute;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 3s ease infinite;
    -moz-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;
    @include transition(all, .5s, ease-in);
  }
  #bdr-top {
    top: 0;
    left: 0;
  }
  #bdr-btm {
    bottom: 0;
    right: 0;
  }
  #bdr-left {
    bottom: 0;
    left: 0;
  }
  #bdr-right {
    bottom: 0;
    right: 0;
  }
  &:hover {
    color: $black;
    #bdr-top, #bdr-btm {
      width: 100% !important;
      height: 3px;
    }
    #bdr-left, #bdr-right {
      height: 42px !important;
      width: 3px;
    }
  }
}
.chart-wrap{
    overflow: hidden;
    margin: 50px auto;
    position: relative;
    width: 100%;   
}
.switcher{
    padding-top: 10px;
    cursor: pointer;
    img {
        max-width: 32px;
        @include transition(all, .5s, ease-in);
        transform-origin: center;
        &:hover {
             @include rotate(180deg);
        }
    }
}