@import url(https://fonts.googleapis.com/css?family=Nunito);.row {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.col {
  flex: 1 1 0px;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-width: initial;
  width: 100%;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .col {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.centered {
  justify-content: center !important;
}

/*==============GRID*=================*/

.row {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
}

.row .row {
  margin-right: -15px;
  margin-left: -15px;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .row .row {
    margin-right: -10px;
    margin-left: -10px;
  }
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .col {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.sm-1 {
  max-width: 8.33333%;
  width: 8.33333%;
  flex: 0 0 8.33333%;
}

.sm-1,
.sm-2 {
  -webkit-box-flex: 0;
}

.sm-2 {
  max-width: 16.66667%;
  width: 16.66667%;
  flex: 0 0 16.66667%;
}

.sm-3 {
  max-width: 25%;
  width: 25%;
  flex: 0 0 25%;
}

.sm-3,
.sm-4 {
  -webkit-box-flex: 0;
}

.sm-4 {
  max-width: 33.33333%;
  width: 33.33333%;
  flex: 0 0 33.33333%;
}

.sm-5 {
  max-width: 41.66667%;
  width: 41.66667%;
  flex: 0 0 41.66667%;
}

.sm-5,
.sm-6 {
  -webkit-box-flex: 0;
}

.sm-6 {
  max-width: 50%;
  width: 50%;
  flex: 0 0 50%;
}

.sm-7 {
  max-width: 58.33333%;
  width: 58.33333%;
  flex: 0 0 58.33333%;
}

.sm-7,
.sm-8 {
  -webkit-box-flex: 0;
}

.sm-8 {
  max-width: 66.66667%;
  width: 66.66667%;
  flex: 0 0 66.66667%;
}

.sm-9 {
  max-width: 75%;
  width: 75%;
  flex: 0 0 75%;
}

.sm-9,
.sm-10 {
  -webkit-box-flex: 0;
}

.sm-10 {
  max-width: 83.33333%;
  width: 83.33333%;
  flex: 0 0 83.33333%;
}

.sm-11 {
  max-width: 91.66667%;
  width: 91.66667%;
  flex: 0 0 91.66667%;
}

.sm-11,
.sm-12 {
  -webkit-box-flex: 0;
}

.sm-12 {
  max-width: 100%;
  width: 100%;
  flex: 0 0 100%;
}

@media print, screen and (min-width: 40em) {
  .md-1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex: 0 0 8.33333%;
  }

  .md-1,
  .md-2 {
    -webkit-box-flex: 0;
  }

  .md-2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex: 0 0 16.66667%;
  }

  .md-3 {
    max-width: 25%;
    width: 25%;
    flex: 0 0 25%;
  }

  .md-3,
  .md-4 {
    -webkit-box-flex: 0;
  }

  .md-4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .md-5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex: 0 0 41.66667%;
  }

  .md-5,
  .md-6 {
    -webkit-box-flex: 0;
  }

  .md-6 {
    max-width: 50%;
    width: 50%;
    flex: 0 0 50%;
  }

  .md-7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .md-7,
  .md-8 {
    -webkit-box-flex: 0;
  }

  .md-8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex: 0 0 66.66667%;
  }

  .md-9 {
    max-width: 75%;
    width: 75%;
    flex: 0 0 75%;
  }

  .md-9,
  .md-10 {
    -webkit-box-flex: 0;
  }

  .md-10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex: 0 0 83.33333%;
  }

  .md-11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex: 0 0 91.66667%;
  }

  .md-11,
  .md-12 {
    -webkit-box-flex: 0;
  }

  .md-12 {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
  }
}

@media print, screen and (min-width: 64em) {
  .lg-1 {
    max-width: 8.33333%;
    width: 8.33333%;
    flex: 0 0 8.33333%;
  }

  .lg-1,
  .lg-2 {
    -webkit-box-flex: 0;
  }

  .lg-2 {
    max-width: 16.66667%;
    width: 16.66667%;
    flex: 0 0 16.66667%;
  }

  .lg-3 {
    max-width: 25%;
    width: 25%;
    flex: 0 0 25%;
  }

  .lg-3,
  .lg-4 {
    -webkit-box-flex: 0;
  }

  .lg-4 {
    max-width: 33.33333%;
    width: 33.33333%;
    flex: 0 0 33.33333%;
  }

  .lg-5 {
    max-width: 41.66667%;
    width: 41.66667%;
    flex: 0 0 41.66667%;
  }

  .lg-5,
  .lg-6 {
    -webkit-box-flex: 0;
  }

  .lg-6 {
    max-width: 50%;
    width: 50%;
    flex: 0 0 50%;
  }

  .lg-7 {
    max-width: 58.33333%;
    width: 58.33333%;
    flex: 0 0 58.33333%;
  }

  .lg-7,
  .lg-8 {
    -webkit-box-flex: 0;
  }

  .lg-8 {
    max-width: 66.66667%;
    width: 66.66667%;
    flex: 0 0 66.66667%;
  }

  .lg-9 {
    max-width: 75%;
    width: 75%;
    flex: 0 0 75%;
  }

  .lg-9,
  .lg-10 {
    -webkit-box-flex: 0;
  }

  .lg-10 {
    max-width: 83.33333%;
    width: 83.33333%;
    flex: 0 0 83.33333%;
  }

  .lg-11 {
    max-width: 91.66667%;
    width: 91.66667%;
    flex: 0 0 91.66667%;
  }

  .lg-11,
  .lg-12 {
    -webkit-box-flex: 0;
  }

  .lg-12 {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
  }
}

.sm-offset-0 {
  margin-left: 0;
}

.sm-offset-1 {
  margin-left: 8.33333%;
}

.sm-offset-2 {
  margin-left: 16.66667%;
}

.sm-offset-3 {
  margin-left: 25%;
}

.sm-offset-4 {
  margin-left: 33.33333%;
}

.sm-offset-5 {
  margin-left: 41.66667%;
}

.sm-offset-6 {
  margin-left: 50%;
}

.sm-offset-7 {
  margin-left: 58.33333%;
}

.sm-offset-8 {
  margin-left: 66.66667%;
}

.sm-offset-9 {
  margin-left: 75%;
}

.sm-offset-10 {
  margin-left: 83.33333%;
}

.sm-offset-11 {
  margin-left: 91.66667%;
}

@media print, screen and (min-width: 40em) {
  .md-offset-0 {
    margin-left: 0;
  }

  .md-offset-1 {
    margin-left: 8.33333%;
  }

  .md-offset-2 {
    margin-left: 16.66667%;
  }

  .md-offset-3 {
    margin-left: 25%;
  }

  .md-offset-4 {
    margin-left: 33.33333%;
  }

  .md-offset-5 {
    margin-left: 41.66667%;
  }

  .md-offset-6 {
    margin-left: 50%;
  }

  .md-offset-7 {
    margin-left: 58.33333%;
  }

  .md-offset-8 {
    margin-left: 66.66667%;
  }

  .md-offset-9 {
    margin-left: 75%;
  }

  .md-offset-10 {
    margin-left: 83.33333%;
  }

  .md-offset-11 {
    margin-left: 91.66667%;
  }
}

@media print, screen and (min-width: 64em) {
  .lg-offset-0 {
    margin-left: 0;
  }

  .lg-offset-1 {
    margin-left: 8.33333%;
  }

  .lg-offset-2 {
    margin-left: 16.66667%;
  }

  .lg-offset-3 {
    margin-left: 25%;
  }

  .lg-offset-4 {
    margin-left: 33.33333%;
  }

  .lg-offset-5 {
    margin-left: 41.66667%;
  }

  .lg-offset-6 {
    margin-left: 50%;
  }

  .lg-offset-7 {
    margin-left: 58.33333%;
  }

  .lg-offset-8 {
    margin-left: 66.66667%;
  }

  .lg-offset-9 {
    margin-left: 75%;
  }

  .lg-offset-10 {
    margin-left: 83.33333%;
  }

  .lg-offset-11 {
    margin-left: 91.66667%;
  }
}

@media print, screen and (min-width: 40em) {
  .md-pull-0,
  .md-push-0 {
    left: 0;
  }

  .md-pull-1 {
    left: -8.33333%;
  }

  .md-push-1 {
    left: 8.33333%;
  }

  .md-pull-2 {
    left: -16.66667%;
  }

  .md-push-2 {
    left: 16.66667%;
  }

  .md-pull-3 {
    left: -25%;
  }

  .md-push-3 {
    left: 25%;
  }

  .md-pull-4 {
    left: -33.33333%;
  }

  .md-push-4 {
    left: 33.33333%;
  }

  .md-pull-5 {
    left: -41.66667%;
  }

  .md-push-5 {
    left: 41.66667%;
  }

  .md-pull-6 {
    left: -50%;
  }

  .md-push-6 {
    left: 50%;
  }

  .md-pull-7 {
    left: -58.33333%;
  }

  .md-push-7 {
    left: 58.33333%;
  }

  .md-pull-8 {
    left: -66.66667%;
  }

  .md-push-8 {
    left: 66.66667%;
  }

  .md-pull-9 {
    left: -75%;
  }

  .md-push-9 {
    left: 75%;
  }

  .md-pull-10 {
    left: -83.33333%;
  }

  .md-push-10 {
    left: 83.33333%;
  }

  .md-pull-11 {
    left: -91.66667%;
  }

  .md-push-11 {
    left: 91.66667%;
  }
}

[class*=-pull-],
[class*=-push-] {
  position: relative;
}

@media print, screen and (max-width: 39.99875em) {
  .hide-for-small-only {
    display: none !important;
  }
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
  .show-for-small-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 40em) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em) {
  .show-for-medium {
    display: none !important;
  }
}

@media print, screen and (min-width: 40em) and (max-width: 63.99875em) {
  .hide-for-medium-only {
    display: none !important;
  }
}

@media screen and (max-width: 39.99875em), screen and (min-width: 64em) {
  .show-for-medium-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 64em) {
  .hide-for-large {
    display: none !important;
  }
}

@media screen and (max-width: 63.99875em) {
  .show-for-large {
    display: none !important;
  }
}

@media print, screen and (min-width: 64em) and (max-width: 74.99875em) {
  .hide-for-large-only {
    display: none !important;
  }
}

@media screen and (max-width: 63.99875em), screen and (min-width: 75em) {
  .show-for-large-only {
    display: none !important;
  }
}

body {
  background: #f8fafc;
  color: #3D3F4D;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  line-height: 1.25;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

a {
  color: #00686D;
  text-decoration: none;
  webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
}

a:not(.btn):hover {
  opacity: 0.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  font-weight: 400;
  line-height: 1.2;
}

hr {
  overflow: hidden;
  display: block;
  clear: both;
  margin: 10px auto;
  border: 0;
  border-top: 1px solid #B1B1B1;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

div,
ul {
  margin: 0;
  padding: 0;
}

ul.no-bullet {
  list-style: none;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix {
  clear: both;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.strong {
  font-weight: bold;
}

.alert.success {
  border: 1px solid #1c9229;
  border-radius: 10px;
  color: #1c9229;
  font-weight: bold;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.flex-video {
  position: relative;
  height: 0;
  margin-bottom: 0;
  padding-bottom: 62%;
  overflow: hidden;
}

.flex-video.widescreen {
  padding-bottom: 50%;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

main {
  overflow: hidden;
  min-height: calc(100vh - 70px);
}

.wall {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font-12 {
  font-size: 12px;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-12 {
    font-size: 10px;
  }
}

.font-14 {
  font-size: 14px;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-14 {
    font-size: 12px;
  }
}

.font-15 {
  font-size: 15px;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-15 {
    font-size: 12px;
  }
}

.font-16 {
  font-size: 16px;
}

@media (min-width: 40rem) and (max-width: 63.99875rem) {
  .font-16 {
    font-size: 14px;
  }
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-16 {
    font-size: 13px;
  }
}

.font-24 {
  font-size: 24px;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-24 {
    font-size: 20px;
  }
}

.font-32 {
  font-size: 32px;
}

@media (min-width: 40rem) and (max-width: 63.99875rem) {
  .font-32 {
    font-size: 28px;
  }
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-32 {
    font-size: 24px;
  }
}

.font-40 {
  font-size: 40px;
}

@media (min-width: 40rem) and (max-width: 63.99875rem) {
  .font-40 {
    font-size: 32px;
  }
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-40 {
    font-size: 26px;
  }
}

.font-46 {
  font-size: 46px;
}

@media (min-width: 40rem) and (max-width: 63.99875rem) {
  .font-46 {
    font-size: 38px;
  }
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-46 {
    font-size: 24px;
  }
}

.font-54 {
  font-size: 54px;
}

@media (min-width: 40rem) and (max-width: 63.99875rem) {
  .font-54 {
    font-size: 46px;
  }
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .font-54 {
    font-size: 40px;
  }
}

[class^=font-],
[class*=" font-"] {
  line-height: 1.2;
}

.box-aline-center {
  align-items: center;
  display: flex;
}

.upper {
  text-transform: uppercase;
}

.alert {
  border-radius: 10px;
  border: 1px solid #00686D;
  padding: 30px 15px;
  font-size: 24px;
  margin: 50px 10px;
}

.alert p:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .alert {
    padding: 10px 5px;
    font-size: 14px;
  }
}

.wall.main-wall {
  background-image: url(/images/main-wall.jpg);
  height: 350px;
  position: relative;
}

.wall.main-wall h1 {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-origin: center;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-weight: bold;
  text-shadow: 2px 2px #00686D;
}

.wall.main-wall:before {
  content: "";
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

@media (min-width: 0) and (max-width: 39.99875em) {
  .wall.main-wall {
    height: 250px;
  }
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.converter-wrap {
  background-color: #ffffff;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-top: -50px;
  overflow: hidden;
  padding: 15px;
}

.converter-wrap form {
  display: block;
  margin: 0 auto 20px;
  overflow: hidden;
}

.converter-wrap form > * {
  margin-bottom: 25px;
}

.converter-wrap form > *:last-child {
  margin-bottom: 0;
}

.converter-wrap form label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.converter-wrap form input,
.converter-wrap form textarea {
  background-color: #ffffff;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: none;
  min-height: 42px;
  font-size: 16px;
  padding-left: 20px;
  outline: none;
  width: 100%;
  transition: color 0.2s ease-in, border-color 0.2s ease-in;
}

.converter-wrap form input:active,
.converter-wrap form input:focus,
.converter-wrap form textarea:active,
.converter-wrap form textarea:focus {
  border-color: #00686D;
  box-shadow: 0 0 0 1px rgba(24, 75, 126, 0.25);
}

.converter-wrap form input::-webkit-input-placeholder,
.converter-wrap form textarea::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #B1B1B1;
}

.converter-wrap form input::-moz-placeholder,
.converter-wrap form textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #B1B1B1;
}

.converter-wrap form input:-ms-input-placeholder,
.converter-wrap form textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: #B1B1B1;
}

.converter-wrap form input:-moz-placeholder,
.converter-wrap form textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #B1B1B1;
}

.converter-wrap form input:disabled,
.converter-wrap form textarea:disabled {
  color: #00686D;
}

.converter-wrap form input.is-invalid,
.converter-wrap form textarea.is-invalid {
  border-color: #e3342f;
}

.converter-wrap form textarea {
  padding: 15px 20px;
  display: block;
}

.converter-wrap form select:disabled {
  color: #00686D;
}

.converter-wrap form select {
  background: transparent;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.converter-wrap form button {
  height: 42px;
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.converter-wrap form button:hover {
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.invalid-feedback {
  color: #e3342f;
  display: inline-block;
}

.btn-wrap {
  position: relative;
}

.btn-wrap .bdr-hover {
  width: 0;
  height: 0;
  position: absolute;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite;
  webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.btn-wrap #bdr-top {
  top: 0;
  left: 0;
}

.btn-wrap #bdr-btm {
  bottom: 0;
  right: 0;
}

.btn-wrap #bdr-left {
  bottom: 0;
  left: 0;
}

.btn-wrap #bdr-right {
  bottom: 0;
  right: 0;
}

.btn-wrap:hover {
  color: #3D3F4D;
}

.btn-wrap:hover #bdr-top,
.btn-wrap:hover #bdr-btm {
  width: 100% !important;
  height: 3px;
}

.btn-wrap:hover #bdr-left,
.btn-wrap:hover #bdr-right {
  height: 42px !important;
  width: 3px;
}

.chart-wrap {
  overflow: hidden;
  margin: 50px auto;
  position: relative;
  width: 100%;
}

.switcher {
  padding-top: 10px;
  cursor: pointer;
}

.switcher img {
  max-width: 32px;
  webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  transform-origin: center;
}

.switcher img:hover {
  transform: rotateZ(180deg);
}

