<template>
    <div class="sm-12 banner-wrap">
        <iframe :src="iframe.src" :width="iframe.width" :height="iframe.height" scrolling="no" frameborder="0"></iframe>
    </div>
</template>

<script>
        
    export default {
        name: "Banner",
        data() {
            return {
                isMobile: window.matchMedia( "(max-width: 720px)").matches,
                iframe: {
                    src: '',
                    height: '250',
                    widht: '',
                }
            }
        },
        methods: {
            getRandomInt(max) {
              return Math.floor(Math.random() * Math.floor(max));
            }
        },
        mounted() {
                       
            this.iframe.width = this.isMobile ? '300' : '980'
            this.iframe.src = `/banners/${this.isMobile ? 'mobile' : 'desktop'}/${this.getRandomInt(3)}/index.html`
            
        }
    }
</script>
<style>
    .banner-wrap iframe{
        display: table;
        margin: 40px auto;
    }
</style>