<template>
   <div class='chart-wrap' id='apexchart'>
        <div class='sm-12 apexchart'>
            <loader-component :visible="this.loading"></loader-component>    
            <div v-if='alert' v-html='alert' class='alert'></div>
            <div class='sm-12 col'>
                <div class='flex-video'>
                    <apexchart width="100%" :options="options" :series="series"></apexchart>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'
    import moment from 'moment-timezone'
    import axios from 'axios';
    import {ApiMixin} from '../mixins/ApiMixin.js';

    Vue.use(VueApexCharts)
    Vue.component('apexchart', VueApexCharts)
    
    let series = [ { name: '', data: [] } ]
    
    export default {
        name: "Chart",
        mixins: [ApiMixin],
        props: {
            from: String,
            to: String,
            source: String,
            amount: String
        },
        watch: {
            amount(newValue, oldValue) {
                //console.log(newValue)
            } 
        },
        data() {
            return {
                loading: false,
                series: series,
                alert: '',
                options: {
                    chart: {
                        height: 520,
                        id: 'mychart',
                        type: 'line',
                        stacked: false,
                        toolbar: {
                            tools: {
                              pan: false,
                              reset: false
                            }
                        },
                        events: {
                            updated: function(chartContext, { xaxis }) {
                                return {
                                    xaxis: {
                                        min: new Date().getTime(),
                                        max: new Date().getTime(),
                                    }
                                }
                            }
                        }
                    },
                    subtitle: {
                        text: 'Last 30 Days',
                        offsetY: 50,
                        style: {
                            fontSize: '16px',
                            color: '#008ffb'
                        }
                    },
                    stroke: {
                        curve: 'smooth',
                        width: 1
                    },
                    fill: {
                        type: 'gradient',
                        gradient: {
                            opacityFrom: 0.9,
                            opacityTo: 1,
                        }
                    },
                    legend: {
                        show: true,
                        showForSingleSeries: true,
                        position: 'top',
                        horizontalAlign: 'left',
                        itemMargin: {
                            horizontal: 20,
                            vertical: 10
                        },
                        onItemClick: {
                            toggleDataSeries: false
                        },
                    },
                    dataLabels: {
                      enabled: false
                    },
                    yaxis: {
                        type: 'numeric',
                        labels: {
                            offsetX: 0,
                            style: {
                                colors: '#8e8da4',
                            },
                        },
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false
                        }
                    },
                    xaxis: {
                        type: 'datetime',
                        labels: {
                            rotate: -15,
                            rotateAlways: true,
                        }
                    },
                    tooltip: {
                        x: {
                          format: "MMM dd, yyyy"
                        },
                         onDatasetHover: {
                            highlightDataSeries: true,
                        },
                    },
                },
            }
        },
        methods: {
            async get30DaysData() {
                
                let responseData = [];
                let promises = [];
                for (var i = 30; i > 0; i--) {
                    promises.push(
                        await axios.get('https://api.currencylayer.com/historical?' + 
                              'access_key=' + this.ACCESS_KEY + 
                              '&currencies=' + this.from + ',' + this.to +
                              '&source=' + this.source +
                              '&date=' + moment().subtract('days', i).format('YYYY-MM-DD') )
                        .then(response => {
                            responseData.push(response.data);
                        })  
                    )
                }

                await Promise.all(promises).then(() => {
                    //console.log(responseData) 
                    for (var i = 0; i < responseData.length; i++) {
                        this.series[0].data.push({
                            x: responseData[i].date,
                            y: parseFloat(parseFloat(responseData[i].quotes[`${this.from}${this.to}`]) * parseFloat(this.amount)).toFixed(5)
                        })
                    }
                    
                });
                this.updateSeries();
                this.updateTitle();
                this.loading = false;
            },
            async initChartData(){
                this.loading = true;
                setTimeout(() => { this.series = [ { name: '', data: [] } ] }, 30);
                this.get30DaysData()
            },
            updateSeries() {
                ApexCharts.exec('mychart', "updateSeries", this.series)

                if (this.series.length == 1 ) {
                    //point annotations
                    let points = []
                    let data = this.series[0]['data']
                                       
                    
                    let maxData = data.reduce(function(prev, current) {
                        return (prev.y > current.y) ? prev : current
                    })
                    let minData = data.reduce(function(prev, current) {
                        return (prev.y < current.y) ? prev : current
                    })

                    let marker = {size: 6, shape: 'square', radius: 6, fillColor: "#184B7E",strokeColor: "#FFF"}
                    
                    points.push({
                                    'x': new Date(moment(minData.x).format("DD MMM YYYY HH:mm")).getTime(),
                                    'y': minData.y, 
                                    marker: marker,
                                    label: {borderColor: '#184B7E',text: `${minData.y}`,style: {background: '#fff',color: '#184B7E',fontSize: '16px'}}  
                                })
                    points.push({
                                    'x': new Date(moment(maxData.x).format("DD MMM YYYY HH:mm")).getTime(),
                                    'y': maxData.y, 
                                    marker: marker,
                                    label: {borderColor: '#184B7E',text: `${maxData.y}`,style: {background: '#fff',color: '#184B7E',fontSize: '16px'}} 
                                })

                    this.setUpAlertMsg(minData, maxData)

                    ApexCharts.exec('mychart', 'updateOptions', {
                        annotations: {
                            points: points,
                        }
                    }, true, true);
                } 

            },
            updateTitle(){
                ApexCharts.exec('mychart', 'updateOptions', {
                    title: {
                        text: `${this.from.toUpperCase()} to ${this.to.toUpperCase()} Chart`,
                        style: {
                            color: '#184B7E',
                            fontSize: '28px',
                        }
                    }
                }, true, true);
            },
            setUpAlertMsg(min, max){
               this.alert = `<p>The low exchange rate at the last 30 days:</br><span class="strong">${moment(min.x).format("MMM DD, YYYY")}         - ${min.y} ${this.to}</span> </p>
                             <p>The highest exchange rate at the last 30 days:</br><span class="strong">${moment(max.x).format("MMM DD, YYYY")} - ${max.y} ${this.to}</span></p>`
            }
   
        },
        created() {
            this.$root.$on('init-chart', this.initChartData)
        },
        mounted() {
            series = [ { name: '', data: [] } ]
            this.initChartData()    
        }
    }
</script>

<style>

</style>


