<template>
    <div class="sm-12">
        <div class='sm-12 md-10 lg-8 md-offset-1 lg-offset-2 col'>
            <div class='converter-wrap'>
                <form @submit.prevent="getResults" class='sm-12'>
                    <div class='sm-12 md-4 col float-left'>
                        <label>Amount</label>
                        <input  class='sm-10' 
                                type='text' 
                                v-model.trim='$v.amount.$model'
                                autofocus>
                        <span class="invalid-feedback font-12" v-if="$v.amount.$error" role="alert">* Please enter a valid amount</span>
                    </div>
                    <div class='sm-12 md-8 float-left box-aline-center'>
                        <div class='sm-5 col'>
                            <label>From</label>
                            <select v-model="fromCurrency" :class="{'selected' : fromCurrency !== ''}">
                                <option disabled value="">Please select currency</option>
                                <option v-for="(code, index) in codes" 
                                        :key="index" 
                                        :value="code">{{code}}
                                </option>
                            </select>
                        </div>
                        <div class='sm-2 col text-center switcher' @click="switchOn">
                            <img src="/images/money-exchange.svg">
                        </div>
                        <div class='sm-5 col'>
                            <label>To</label>
                            <select v-model="toCurrency" :class="{'selected' : fromCurrency !== ''}">
                                <option disabled value="">Please select currency</option>
                                <option v-for="(code, index) in codes" :key="index" :value="code">{{code}}</option>
                            </select>
                        </div>
                    </div>
                    <div class='sm-12 clearfix'>
                        <div class="sm-12 col md-offset-4 md-4 col">
                            <div class='btn-wrap sm-12'>
                                <div id="bdr-top" class="bdr-hover"></div>
                                <div id="bdr-btm" class="bdr-hover"></div>
                                <div id="bdr-left" class="bdr-hover"></div>
                                <div id="bdr-right" class="bdr-hover"></div>
                                <button class='btn btn-primary sm-12' :disabled="$v.$invalid">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class='sm-12 clearfix' v-if="data" >
                    <p class=''>
                        <span class='font-14'>
                            {{this.data.query.amount}} {{this.data.query.from}} = 
                        </span> <br>
                        <span class='font-24 strong'>
                            {{this.data.result}} {{this.data.query.to}}
                        </span>
                    </p>
                    <p>
                        <span class='font-14'>1{{this.data.query.from}} = </span> <br>
                        <span class='font-14'>{{this.data.info.quote}} {{this.data.query.to}}</span>
                    </p>
                </div>
            </div>
        </div>
        <div class='sm-12'>
            <chart-component v-if="isChartExists"
                :from="fromCurrency"
                :to="toCurrency" 
                :source="fromCurrency"
                :amount="amount">
            </chart-component>
        </div>
    </div>
</template>

<script>
    import Chart from './ChartComponent';
    import axios from 'axios';
    import { required,integer } from 'vuelidate/lib/validators'
    import {ApiMixin} from '../mixins/ApiMixin.js';


    export default {
        name: "Converter",
        mixins: [ApiMixin],
        data() {
            return {
                isChartExists: false,
                fromCurrency: 'BGN',
                toCurrency: 'EUR',
                amount: '1',
                result: {
                    romCurrency: 'BGN',
                    toCurrency: 'EUR',
                    amount: '1',
                },
                source: "",
                codes: ['AED','AFN','ALL','AMD','ANG','AOA','ARS','AUD','AWG','AZN','BAM','BBD','BDT','BGN','BHD','BIF','BMD','BND','BOB','BRL','BSD','BTC','BTN','BWP','BYN','BYR','BZD','CAD','CDF','CHF','CLF','CLP','CNY','COP','CRC','CUC','CUP','CVE','CZK','DJF','DKK','DOP','DZD','EGP','ERN','ETB','EUR','FJD','FKP','GBP','GEL','GGP','GHS','GIP','GMD','GNF','GTQ','GYD','HKD','HNL','HRK','HTG','HUF','IDR','ILS','IMP','INR','IQD','IRR','ISK','JEP','JMD','JOD','JPY','KES','KGS','KHR','KMF','KPW','KRW','KWD','KYD','KZT','LAK','LBP','LKR','LRD','LSL','LTL','LVL','LYD','MAD','MDL','MGA','MKD','MMK','MNT','MOP','MRO','MUR','MVR','MWK','MXN','MYR','MZN','NAD','NGN','NIO','NOK','NPR','NZD','OMR','PAB','PEN','PGK','PHP','PKR','PLN','PYG','QAR','RON','RSD','RUB','RWF','SAR','SBD','SCR','SDG','SEK','SGD','SHP','SLL','SOS','SRD','STD','SVC','SYP','SZL','THB','TJS','TMT','TND','TOP','TRY','TTD','TWD','TZS','UAH','UGX','USD','UYU','UZS','VEF','VND','VUV','WST','XAF','XAG','XAU','XCD','XDR','XOF','XPF','YER','ZAR','ZMK','ZMW','ZWL'],
                data: '',
            }
        },
        validations: {
            amount: { 
                required, 
                integer
            },
        },
        methods: {
            async getResults() {
                await axios.get('https://api.currencylayer.com/convert', {
                    headers: {
                        'Content-Type' : 'application/json',
                    },
                    params: {
                        access_key: this.ACCESS_KEY,
                        from: this.fromCurrency,
                        to: this.toCurrency,
                        amount: this.amount
                    }
                })
                .then(response => {
                    this.data = response.data
                    this.isChartExists = true
                    this.initChart();                
                })
                .catch(err => {
                    console.error(err)
                })
            },
            initChart(){
                this.$root.$emit('init-chart')
            },
            switchOn(){
                let temp = this.fromCurrency
                this.fromCurrency = this.toCurrency
                this.toCurrency = temp
            }
        },
        mounted() {
            //console.log('Component mounted.')
        }
    }
</script>
<style scope> 
</style> 