<template>
    <div class='loader-wrap'
            :class="{ 'loader--visible': visible }">
        <div class="spinner">
            <v-lottie-player
                name="loadingSpin"
                loop
                :animationData="require('../../assets/loading.json')" />
        </div>
    </div>
</template>

<script>
    import VueLottiePlayer from "vue-lottie-player";

    export default {
        name: "Loader",
        props: {
          visible: Boolean,
        },
        components: {
            vLottiePlayer: VueLottiePlayer
        },
        data() {
            return {
                loading: false
            }
        }
    }
</script>

<style>
    .loader-wrap {
        background-color: rgba(253,253,253, 0.5);
        height: 100%;
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    .spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    .loader--visible {
        opacity: 1;
        pointer-events: all;
        z-index: 9;
    }
</style>
